@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
body{
    font-family: 'Oxygen',sans-serif;
    background-color: #222;
    color:white;
}
h1{
    font-family : 'Pacifico', cursive;
}
